html { 
    background: url(orchestra.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#divAlunos{
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5%;
	
}

#tableAlunos{
	margin-top: 5%;
    border: 1px solid white;
    text-align: center;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    vertical-align: center;
    background-color: #181818;
	opacity: 0.9;
}

