html { 
    background: url(piano3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    width: 40%;
    height: 40pt;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

.menu_option {
    background-color: #181818;
    color: white;
    text-align: center;
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px;
    font-weight: bold;
    box-shadow: 0px 3px 5px 1px black;
}

.menu_optionactive {
    text-align: center;
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px;
    font-weight: bold;
    box-shadow: 0px 3px 5px 1px black;
    background-color: #B63F06;
    color:black;
}

.menu_option:hover {
    background-color: #B63F06;
}

.logo {
    font-size: 120%;
    width: 3%;

}


#nextAuditionsBox {

    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;

    padding-top: 1px;

    background-color: #181818;
    opacity: 0.5;
    /* border: solid 2px silver; */
    box-shadow: 0px 3px 5px 1px black;

    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 150%;
    text-align: center;

}

a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

#tableListing{
    margin-top: 5%;
    border: 1px solid white;
    text-align: center;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    vertical-align: center;
    background-color: black;
    opacity: 0.9;
}

button{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

#bigButton{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    height: 30px;
    width: 90px;
}